n8n_json/Youtube_Shorts_Automation(Editing).json
{
  "name": "Youtube Shorts Automation",
  "nodes": [
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        -700
      ],
      "id": "7a1ef5bd-0834-42ac-a68e-6b2e1b601c80",
      "name": "Wait",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "For Editing",
              "lookupValue": "Prompt Updated"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1740,
        20
      ],
      "id": "b9c0b572-8910-4f48-acc2-455590b861ed",
      "name": "Get Contents",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json['Video title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lYYvQvNMZq_LrICDZTU2CYUyv1I55Zqj",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1920,
        400
      ],
      "id": "aa8f18b8-ac1c-4c62-9a3f-a1ed22726ede",
      "name": "Create Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -700
      ],
      "id": "72500582-9a5f-4458-ba14-985c1c6650b7",
      "name": "Status check"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -760
      ],
      "id": "8cc2ba6b-1ade-4e84-85dd-9a9cc427ac07",
      "name": "Get Image"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        -500
      ],
      "id": "e7c07f02-6a2c-4cf8-ab70-bccc05b7d509",
      "name": "Wait1",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -500
      ],
      "id": "d9f768d4-0823-4ae9-ae05-f3e959ad7b43",
      "name": "Status check1"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        -300
      ],
      "id": "4a9ed8e6-13f0-4ed0-97ad-75eca7c767fc",
      "name": "Wait2",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -300
      ],
      "id": "824e337e-fcdb-414a-9a58-933493debc10",
      "name": "Status check2"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        -100
      ],
      "id": "f52a02ae-d564-403f-abb5-5e9395023a94",
      "name": "Wait3",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -100
      ],
      "id": "1eaf1e4d-54c0-441f-9318-4c1e6b20c062",
      "name": "Status check3"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        100
      ],
      "id": "62087b32-252b-4d53-9f6b-ad250d1f4203",
      "name": "Wait4",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        100
      ],
      "id": "c0bbe6e0-88c1-4667-9f6a-94b91af919c6",
      "name": "Status check4"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        300
      ],
      "id": "5ba664ca-4f43-44f3-b9de-c5bd8225bde3",
      "name": "Wait5",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        300
      ],
      "id": "38574ad3-ed34-48f2-9aab-148a7a57e86d",
      "name": "Status check5"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        500
      ],
      "id": "004f63b9-4e9e-436a-9bb2-08e1811c1d39",
      "name": "Wait6",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        500
      ],
      "id": "42bf9103-1665-450a-ac26-affaa18b1ef9",
      "name": "Status check6"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        700
      ],
      "id": "48485048-6fd9-46a1-9dec-837a1177b8f0",
      "name": "Wait7",
      "webhookId": "1ae399ca-689a-4634-9319-cded3a1d5fdb"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        700
      ],
      "id": "968d45f4-7db9-4207-a974-ebf96ef35fa1",
      "name": "Status check7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_8": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        640
      ],
      "id": "7cce9848-e7d3-4107-ad78-9e680bcd8975",
      "name": "Update Image link7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_1_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -700
      ],
      "id": "ec0921e3-1397-4ff1-9289-8abeb8082a45",
      "name": "Image Request 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_2_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -500
      ],
      "id": "2df79869-762c-4278-9de6-80c725db969c",
      "name": "Image Request 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_3_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -300
      ],
      "id": "ccdfdfc6-a543-451a-988a-760e2635e44e",
      "name": "Image Request 3"
    },
    {
      "parameters": {
        "name": "image_2",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -560
      ],
      "id": "37a8ed70-5e9c-48b4-acef-9c4c46581da7",
      "name": "Upload Image 2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "image_1",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -760
      ],
      "id": "b1839758-4c9c-412c-a8ce-906d2b7c5cf0",
      "name": "Upload Image 1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "image_3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -360
      ],
      "id": "8896d007-384c-4b3e-b1f9-9e3ddf546e47",
      "name": "Upload Image 3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_4_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -100
      ],
      "id": "5bab5ab1-5859-4d3d-8ebc-e713ab6e499b",
      "name": "Image Request 4"
    },
    {
      "parameters": {
        "name": "image_4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -160
      ],
      "id": "f9cab4b6-0143-4781-bbf6-d28f5cfec83f",
      "name": "Upload Image 4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_5_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        100
      ],
      "id": "09f51b4d-1bb3-429a-9446-43262396e7dd",
      "name": "Image Request 5"
    },
    {
      "parameters": {
        "name": "image_5",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        40
      ],
      "id": "afa6f54e-f918-421b-b22a-89ae079482ed",
      "name": "Upload Image 5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_6_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        300
      ],
      "id": "446b1fbe-f232-4a2d-b576-4ba4f17d3898",
      "name": "Image Request 6"
    },
    {
      "parameters": {
        "name": "image_6",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        240
      ],
      "id": "18f21f47-38fe-4b0b-b0c3-97242af8f1f2",
      "name": "Upload Image 6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_7_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        500
      ],
      "id": "b363ccf2-fe82-4b90-80ce-bb867b1ea349",
      "name": "Image Request 7"
    },
    {
      "parameters": {
        "name": "image_7",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        440
      ],
      "id": "7a698d36-51a0-476f-9b60-9bdda8e0d399",
      "name": "Upload Image 7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "962e73092784bc1dc9bfcd0435afce37155c7c9d4a31c564f67e77117b2822a8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Image_8_prompt }}\",\n        \"width\": 576, \n        \"height\": 1024\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        700
      ],
      "id": "7329a5b1-238f-415a-9d76-88eda99ee0f4",
      "name": "Image Request 8"
    },
    {
      "parameters": {
        "name": "image_8",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        640
      ],
      "id": "c5845b4a-1ac4-4585-bfe2-11c21bb8293b",
      "name": "Upload Image 8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Image_2 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -560
      ],
      "id": "a911e9fc-6e30-4508-8892-cd63e2d035bb",
      "name": "Get Image 2"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_3 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -360
      ],
      "id": "59a1e43f-7863-4056-90c2-329935d92b89",
      "name": "Get Image 3"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_4 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -160
      ],
      "id": "e50e937f-6bdc-45f0-8165-300e50841a97",
      "name": "Get Image 4"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_5}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        40
      ],
      "id": "e15f976e-a08e-4dca-af2f-5ce1b5ee6af4",
      "name": "Get Image 5"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_6 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        240
      ],
      "id": "4f22697c-80bf-4cb4-bb29-4e10f514f253",
      "name": "Get Image 6"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_7  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        440
      ],
      "id": "a68bfd2b-b83b-4668-9d82-1d518ff64488",
      "name": "Get Image 7"
    },
    {
      "parameters": {
        "url": "={{ $json.Image_8 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        640
      ],
      "id": "08707bb3-d895-4a57-b2a0-868a377a5a45",
      "name": "Get Image 8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://38ebtgecfh.execute-api.us-east-1.amazonaws.com/default/polly",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"text\": \"{{ $('Get Contents').item.json['Audio Content'] }}\",\n  \"voice_id\": \"Amy\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        400
      ],
      "id": "5ac3a91d-1768-4f1e-9c4b-8d4d8171d89b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "={{ $json['Video title'] }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1360,
        400
      ],
      "id": "88113b9a-5a09-4547-8e9a-51235c172fd3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_1": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        -760
      ],
      "id": "518da9fa-7ccf-4862-b0f1-ae83024c431e",
      "name": "Update Image link_1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_2": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        -560
      ],
      "id": "bef5d791-d1e2-4bd8-93fd-3464a0d79b94",
      "name": "Update Image link_2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_3": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        -360
      ],
      "id": "1caece84-17a8-4698-a458-227bf42e2040",
      "name": "Update Image link_3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_4": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        -160
      ],
      "id": "820433c2-ef15-4c2f-a7ed-a65d27f53322",
      "name": "Update Image link_4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_5": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        40
      ],
      "id": "1d39b77e-29ec-4f3d-a6cc-cdab3c01a4c7",
      "name": "Update Image link_5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_6": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        240
      ],
      "id": "e7381bfd-12a6-4aaa-8976-8e1863acc39d",
      "name": "Update Image link_6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Image_7": "={{ $json.data.output.image_url }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -140,
        440
      ],
      "id": "4c63bce1-16ea-4696-9d95-4635086a124f",
      "name": "Update Image link_7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Get Contents').item.json['Video title'] }}",
            "Image_drive": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1760,
        400
      ],
      "id": "37e7f885-8b0e-4107-a819-c75f1ed046fe",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.56.1:8000/start",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder_id",
              "value": "={{ $json.Image_drive }}"
            },
            {
              "name": "on_video_title",
              "value": "={{ $json['On video title'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -780,
        1020
      ],
      "id": "6ba6940d-1052-40f4-8299-0b1a6e822577",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        1020
      ],
      "id": "55fe5d67-bf7e-451e-a42e-7e9130fdf229",
      "name": "Wait8",
      "webhookId": "d5201a54-5631-4008-b9f1-0641f102dcc4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.56.1:8000/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $('HTTP Request1').item.json.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        1020
      ],
      "id": "6827bb84-5da5-4578-adbb-82e9c3f4e995",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "name": "final_output.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Catagorize').item.json.Image_drive }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        960
      ],
      "id": "8040ed96-60a2-4923-9697-a9e3fc366f4e",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ILoWkmRFVT28WSaO",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Extract Data if Approved').item.json['Video title'] }}",
            "Final Video Link": "={{ $json.webContentLink }}",
            "For Production": "Editing Done",
            "For Editing": "Editing Finished"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        160,
        960
      ],
      "id": "3ddfa29d-a498-42e5-b57c-e755a98b514e",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        960
      ],
      "id": "896c7211-9277-4391-8a84-7c74d2e30f7f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ Object.keys($json).length === 0 ? 1 : 0 }}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        20
      ],
      "id": "899134fe-df1f-4659-b2e8-c819c9676d94",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -700
      ],
      "id": "25994b64-2803-4c80-8c78-bc56e1c32f2b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -500
      ],
      "id": "e509111d-7702-4676-af70-afe572b317e8",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -300
      ],
      "id": "2f926357-2aa0-45bd-8980-affb365ee380",
      "name": "Switch3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        -100
      ],
      "id": "5d4f8dfa-94ed-4bed-9e92-d46da0e8bb64",
      "name": "Switch4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        100
      ],
      "id": "2ae1a13e-f6d7-4888-85d8-580106a02e2c",
      "name": "Switch5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        300
      ],
      "id": "d8cc9004-ec17-4140-afe4-be2915d63a28",
      "name": "Switch6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        500
      ],
      "id": "afb5eb03-564a-4266-8b0d-7b4a94fc65e3",
      "name": "Switch7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6859f15-e7a1-4ccb-8d0f-a7b77a8f7fa2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0148a463-974a-4219-878d-61aa709372fc",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9ae4156-dfe3-4058-9f27-5150afed872e",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        700
      ],
      "id": "ddc7b3e4-5b37-47d3-8fc9-a94a0632eefc",
      "name": "Switch8"
    },
    {
      "parameters": {
        "content": "## Telegram Tigger\nGet playlist from user",
        "height": 360,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        -60
      ],
      "typeVersion": 1,
      "id": "104c5fe1-0d69-4dea-b13d-e1f5942b621e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create and Update Drive\nAlso split the process",
        "height": 260,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        320
      ],
      "typeVersion": 1,
      "id": "876507dc-f1d8-4fc0-bcc4-4e765353a419",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Image fro every Prompt\nUsers the PIAPI and save the images in drive",
        "height": 1740,
        "width": 1160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        -820
      ],
      "typeVersion": 1,
      "id": "d2bf1228-69a5-4d9c-9fda-ec39d4da507e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create audio and wait for Approval\nThis part also make sure the editing process is taken place correctlly",
        "height": 260,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1580,
        320
      ],
      "typeVersion": 1,
      "id": "f6a0261a-fe9e-40a8-b46a-d4134eae0281",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ced61196-d99d-4f7a-9616-92c931f55fae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "067772e4-4f04-4dc6-8f5d-7e42bc21735c",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "513082c3-f86f-448d-8408-73df7706175b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        1020
      ],
      "id": "7fa68fd0-cb31-4807-ab84-a5e8d51b2347",
      "name": "Switch9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "For Production": "Editing Error",
            "Video title": "={{ $('Catagorize').item.json['On video title'] }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -120,
        1140
      ],
      "id": "56e7d8c3-c377-4a6b-870e-74ffc8e905aa",
      "name": "Google Sheets5",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "755878457598891",
        "recipientPhoneNumber": "+919489254099",
        "textBody": "No Shorts Idea to Execute",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1420,
        100
      ],
      "id": "635b2c02-ed04-4912-a205-04b467388402",
      "name": "WhatsApp Business Cloud",
      "webhookId": "feda863d-ce1b-446d-b751-cdf5d0a0672d",
      "credentials": {
        "whatsAppApi": {
          "id": "uJ5O3NItaKL5lED9",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "755878457598891",
        "recipientPhoneNumber": "+919489254099",
        "textBody": "The Audio is updated please check in the drive",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1040,
        400
      ],
      "id": "fc37b97d-363b-4bab-9f13-23fd6064f384",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "247830d8-fa36-445b-b5a1-8fa16ba973fe",
      "credentials": {
        "whatsAppApi": {
          "id": "uJ5O3NItaKL5lED9",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video title": "={{ $('Google Sheets').item.json['Video title'] }}",
            "Audio URL": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "Video title"
          ],
          "schema": [
            {
              "id": "Video title",
              "displayName": "Video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "On video title",
              "displayName": "On video title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1_prompt",
              "displayName": "Image_1_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2_prompt",
              "displayName": "Image_2_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3_prompt",
              "displayName": "Image_3_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4_prompt",
              "displayName": "Image_4_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5_prompt",
              "displayName": "Image_5_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6_prompt",
              "displayName": "Image_6_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7_prompt",
              "displayName": "Image_7_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8_prompt",
              "displayName": "Image_8_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio Content",
              "displayName": "Audio Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "For Editing",
              "displayName": "For Editing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_drive",
              "displayName": "Image_drive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_1",
              "displayName": "Image_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_2",
              "displayName": "Image_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_3",
              "displayName": "Image_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_4",
              "displayName": "Image_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_5",
              "displayName": "Image_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_6",
              "displayName": "Image_6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_7",
              "displayName": "Image_7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image_8",
              "displayName": "Image_8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Final Video Link",
              "displayName": "Final Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "For Production",
              "displayName": "For Production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Youtube Link",
              "displayName": "Youtube Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload",
              "displayName": "Upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        400
      ],
      "id": "3123201c-ff14-421d-8e08-38bd9332dde6",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        20
      ],
      "id": "e5ffb230-d381-42c2-a1aa-5b810614544f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        140,
        780
      ],
      "id": "4920ccd8-ad3b-49ea-b363-dfffd96c0a05",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE",
          "mode": "list",
          "cachedResultName": "Youtube Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 9011659,
          "mode": "list",
          "cachedResultName": "Mystery/Scary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit#gid=9011659"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "For Editing",
              "lookupValue": "Approved"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1180,
        -820
      ],
      "id": "bc088f61-c9c8-4602-992d-a6d5380f98be",
      "name": "Extract Data if Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FS8DPLFm6qRBatqr",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aea7db6-7607-4757-9ab7-472bb43cacb4",
              "name": "Image_1_prompt",
              "value": "={{ $json.Image_1_prompt }}",
              "type": "string"
            },
            {
              "id": "24d6734b-594d-4ec5-9418-0a5ff29db6e8",
              "name": "Image_2_prompt",
              "value": "={{ $json.Image_2_prompt }}",
              "type": "string"
            },
            {
              "id": "fa1cce7f-8946-42db-aeac-2ceb1eebb4b3",
              "name": "Image_3_prompt",
              "value": "={{ $json.Image_3_prompt }}",
              "type": "string"
            },
            {
              "id": "30386dc2-a080-4cef-8bd6-afa411d9571e",
              "name": "Image_4_prompt",
              "value": "={{ $json.Image_4_prompt }}",
              "type": "string"
            },
            {
              "id": "af2eec2d-1b60-4e6f-ad02-6ba46edfc3c5",
              "name": "Image_5_prompt",
              "value": "={{ $json.Image_5_prompt }}",
              "type": "string"
            },
            {
              "id": "3b04f52c-33d1-4bae-b588-3d830c4222a1",
              "name": "Image_6_prompt",
              "value": "={{ $json.Image_6_prompt }}",
              "type": "string"
            },
            {
              "id": "9e1ca88e-daf9-420b-ad55-68a446e0b9a7",
              "name": "Image_7_prompt",
              "value": "={{ $json.Image_7_prompt }}",
              "type": "string"
            },
            {
              "id": "2f193846-861f-4d01-a4aa-6119b6ce3f55",
              "name": "Image_8_prompt",
              "value": "={{ $json.Image_8_prompt }}",
              "type": "string"
            },
            {
              "id": "02ad3b23-ae7b-46d2-a653-d5cf76a072f1",
              "name": "On video title",
              "value": "={{ $json['On video title'] }}",
              "type": "string"
            },
            {
              "id": "83abd123-6f23-4aee-bd7c-2bf10f7ff831",
              "name": "Image_drive",
              "value": "={{ $json.Image_drive }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -820
      ],
      "id": "54007c64-d615-40cc-b1e5-73e91d8d0f50",
      "name": "Catagorize"
    },
    {
      "parameters": {
        "content": "## Editing and Updating the sheet\n**Check Sheet** to see updates. [Sheet](https://docs.google.com/spreadsheets/d/1oJn0FFYZ-vELSJDNaV3-Njvb04AyNkarl9TY0f9bfvE/edit?gid=9011659#gid=9011659)",
        "height": 420,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        940
      ],
      "typeVersion": 1,
      "id": "7068c579-bd2b-464d-8c1b-e0efed94f1d3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        -820
      ],
      "id": "d079287b-5259-4b4a-a678-e5a06e85712b",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Status check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contents": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Upload Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Status check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Status check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Status check3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check3": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Status check4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check4": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Status check5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check5": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Status check6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check6": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Status check7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status check7": {
      "main": [
        [
          {
            "node": "Switch8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link7": {
      "main": [
        [
          {
            "node": "Get Image 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 5": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 6": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 7": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Request 8": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 2": {
      "main": [
        [
          {
            "node": "Upload Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 3": {
      "main": [
        [
          {
            "node": "Upload Image 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 4": {
      "main": [
        [
          {
            "node": "Upload Image 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 5": {
      "main": [
        [
          {
            "node": "Upload Image 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 6": {
      "main": [
        [
          {
            "node": "Upload Image 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 7": {
      "main": [
        [
          {
            "node": "Upload Image 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image 8": {
      "main": [
        [
          {
            "node": "Upload Image 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_2": {
      "main": [
        [
          {
            "node": "Get Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_3": {
      "main": [
        [
          {
            "node": "Get Image 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_4": {
      "main": [
        [
          {
            "node": "Get Image 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_5": {
      "main": [
        [
          {
            "node": "Get Image 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_6": {
      "main": [
        [
          {
            "node": "Get Image 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image link_7": {
      "main": [
        [
          {
            "node": "Get Image 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Update Image link_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Update Image link_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Update Image link_3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Update Image link_4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Update Image link_5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Update Image link_6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Update Image link_7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch8": {
      "main": [
        [
          {
            "node": "Update Image link7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Request 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        []
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        []
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 4": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 5": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 6": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 7": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image 8": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "Extract Data if Approved": {
      "main": [
        [
          {
            "node": "Catagorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catagorize": {
      "main": [
        [
          {
            "node": "Image Request 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Request 8",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Extract Data if Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95e07a8b-f798-4dc5-b5c6-a0c1acff4381",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72f606b05d7788978a682e3bab045de661187022009536e97c043ae369837ac4"
  },
  "id": "cQfKKY8OrbfOZRlM",
  "tags": []
}